.container {
  font-family: "Roboto", sans-serif;
  background-color: #d9d9d9;
  height: 300px;
  border-radius: 12px;
  padding: 8px;
}

.imgContainer {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImg {
  height: 95%;
  width: 95%;
  background-color: #f3f1f1;
  border-radius: 10px 10px 0 0;
}

.productDescription {
  background-color: #ebe5e5;
  height: 25%;
  border-radius: 0px 0px 10px 10px;
}

.productDescriptionTitle {
  font-family: "roboto";
  font-size: medium;
}

.productDescriptionSubTitle {
  font-family: "roboto";
  font-size: x-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productDescriptionDetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 8px 0 8px;
}

.whishlist {
  position: relative;
  left: 82%;
  top: 2%;
  width: max-content;
}
